body {
    margin: 0;
}

.content {
    background-size: cover;
    position: relative;
    background-color: #66bb6a;
}

.logo {
    font-family: 'Luckiest Guy', cursive;
    color: #66bb6a;
    font-size: 48px;
    position: absolute;
    background-color: #ffeb3b;
    padding: 65px;
    width: 48%;
    height: 40%;
    border-bottom-right-radius: 100%;
    z-index: 2;
}

.form-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 3;
}

input {
    width: 350px;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ffeb3b ;
    outline: none;
    font-size:16px;
    box-sizing: border-box;
    color: #66bb6a;
}

textarea {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    min-height: 40.4px;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ffeb3b;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    color: #66bb6a;
}

.submit {
    background-color: #ffeb3b;
    color: black;
}